

// Fuentes
$fuente_principal: 'Ubuntu', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$marineBlue: hsl(213, 96%, 18%);
$purlishBlue: hsl(243, 100%, 62%);
$pastelBlue: hsl(228, 100%, 84%);
$lightBlue: hsl(206, 94%, 57%);
$strawberryRed: hsl(354, 84%, 57%);

// Neutros
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$coolGray: hsl(231, 11%, 63%);
$lightGray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);


$separacion: 5rem;

// Fuentes

$delgada: 300;
$regular : 400;
$semiRegular : 500;
$bold: 700;
$superBlack: 900